* {
  padding: 0;
  margin: 0;
}

body {
  font: 12pt Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: url(images/paving.jpg);
}

#breakout {
  position: relative;
}

canvas {
  background-color: #d3d4d6;
  display: block;
  margin: 0 auto;
  opacity: 0.9;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#levels {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #351865;
  line-height: 20px;
  font-size: 18px;
}

#levels #next {
  position: absolute;
  left: 190px;
}

#levels #prev {
  position: absolute;
  top: 14px;
  left: 190px;
}

#levels #label {
  position: absolute;
  top: 4px;
  left: 210px;
  font-size: 18px;
}

#levels #level {
  font-size: 14pt;
  position: absolute;
  top: 4px;
  left: 250px;
  font-weight: bold;
  color: #351865;
}

#levels img {
  cursor: pointer;
}

#levels img.disabled {
  opacity: 0.3;
  cursor: default;
}

#levels img:active {
  margin-top: 1px;
  margin-left: 1px;
}

#levels img.disabled:active {
  margin-top: 0;
  margin-left: 0;
}

#controls {
  position: absolute;
  left: 450px;
  top: 10px;
  color: #351865;
  font-size: 18px;
}

#controls input,
#controls label {
  vertical-align: middle;
}

#instructions {
  background: #ddd;
  border: 2px solid #333;
  color: #351865;
  padding: 0.5em 1em;
  white-space: nowrap;
  text-align: center;
  width: 18em;
  margin: 0 auto;
  position: relative;
  top: -16em;
}

#instructions b {
  color: black;
}

#instructions .keyboard {
  display: block;
}

#instructions .touch {
  display: none;
}

#instructions.touch .keyboard {
  display: none;
}

#instructions.touch .touch {
  display: block;
}

.unsupported {
  border: 1px solid yellow;
  color: black;
  background-color: #ffffad;
  padding: 2em;
  margin: 5em;
  display: inline-block;
}
